.classpath
.project
.settings/
target/
felix-cache/
build/logs/
logs/
.externalToolBuilders/
maven-eclipse.xml
*.iml
*.ipr
*.iws
.idea
log.roo
*.class
*.eml
*.log
*.userlibraries
out/
Error_log/
tama.log*
test-output/
servers.bat
src/main/webapp/emulator/*
