.show_patient_preferences label {
    width: 250px;
}

.update_patient {
    margin-top: -37px;
    padding-left: 230px;
}

#_title_fc_org_motechproject_tama_domain_patient_non_HIV_Medical_History_id_pane {
    padding-bottom : 140px;
}
