.adherenceChartTitle {
    text-align: center;
    font-weight: bold;
}

#dailyAdherenceOverTimeChartLegend th, #weeklyAdherenceOverTimeChartLegend th{
    font-size: 15px;
    text-align: center;
}

.legendColor {
    height : 10px;
    width: 10px;
}

.show_patient_summary label {
    width: 250px;
}
