#getDailyPillReminderReportSpinner {
    margin-left: 10px;
}

#dailyPillReminderReportGridNotice, #outboxMessageReportGridNotice {
    margin-top: 10px;
    font-weight: bold;
}

#dailyPillReminderReportGrid {
    margin-top: 10px;
}