<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <util:properties id="couchdbProperties" location="classpath:/couchdb.properties"/>
    <util:properties id="ivrProperties" location="classpath:/ivr.properties"/>

   <context:property-placeholder location="classpath*:META-INF/spring/tama.properties"/>
    <context:annotation-config/>
    <context:spring-configured/>
    <context:component-scan base-package="org.motechproject.tama.tools.seed"/>
    <context:component-scan base-package="org.motechproject.tama.repository"/>
    <context:component-scan base-package="org.motechproject.tama.util"/>
    <context:component-scan base-package="org.motechproject.server.alerts.service"/>
    <import resource="classpath:applicationCmsLiteApi.xml"/>
    <import resource="classpath:applicationContextAlert.xml"/>
    <import resource="classpath:applicationPillReminderAPI.xml"/>
    <bean id="encryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor" lazy-init="false">
        <property name="algorithm" value="PBEWithMD5AndDES"/>
        <property name="password" value="jasypt"/>
    </bean>
    <bean id="tamaCouchDbInstance" class="org.ektorp.impl.StdCouchDbInstance">
        <constructor-arg>
            <bean id="httpClient" class="org.ektorp.spring.HttpClientFactoryBean"/>
        </constructor-arg>
    </bean>
    <bean id="tamaDbConnector" class="org.ektorp.impl.StdCouchDbConnector">
        <constructor-arg value="tama-web"/>
        <constructor-arg ref="tamaCouchDbInstance"/>
    </bean>
    <bean id="seedLoader" class="org.motechproject.tama.tools.seed.SeedLoader">
        <constructor-arg>
            <list>
                <ref bean="mealAdviceTypeSeed"/>
                <ref bean="genderSeed"/>
                <ref bean="modeOfTransmissionSeed"/>
                <ref bean="HIVTestReasonSeed"/>
                <ref bean="IVRLanguageSeed"/>
                <ref bean="dosageTypeSeed"/>
                <ref bean="companySeed"/>
                <ref bean="drugSeed"/>
                <ref bean="regimenSeed"/>
                <ref bean="citySeed"/>
                <ref bean="administratorSeed"/>
                <ref bean="labTestSeed"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="audioSeedLoader" class="org.motechproject.tama.tools.seed.SeedLoader">
        <constructor-arg>
            <list>
                <ref bean="audioSeed"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="couchDB" class="org.motechproject.tama.tools.CouchDB"/>
</beans>
